
html, body{
    padding: 0px;
    margin: 0px;
}

/* main page */
.display-table{
    display: table;
    width: 100%;
    height: 100%;

}
*>p{
    margin: 0px;
}
.display-table-row{
    display: table-row;
    height: 100%;
}
.display-table-cell{
    display: table-cell;
    height: 100%;
}
.hover-primary:hover{
    color: var(--theme-primary-color);
    cursor: pointer;
    transition: all 0.3s ease;

}
.image-setting-image-thump:hover, .pb-draggable-item:hover{
    cursor: pointer;
}
.pb-row-control-item:hover{
    cursor: pointer;
}
.uk-card-secondary-light{
    background-color: #2e2e2e;
}
#pb .uk-card{
    border-radius: 0px;
}
.pb-control-toggle{
    padding: 5px 1px; border-radius: 0 5px 5px 0;
    background-color: #34383C;
    color: #E0E1E3;
    z-index: 99;
}
#pb-content{
    margin: 0px;
}
.pb-editable-content .pb-row{
    border: 1px solid white; padding: 5px;
}
.pb-editable-content .pb-row:hover, .pb-editable-content .pb-row.active{
    border: 1px solid #1E87F0;
}
.pb-row-control-bar{
    display: none;
}
.pb-editable-content .pb-row.active .pb-row-control-bar, .pb-editable-content .pb-row:hover .pb-row-control-bar{
    display: block;
}
.pb-row-components{
    /*padding: 10px;*/
}
.pb-column-control-bar{
    /*display: none;*/
    position: absolute; padding: 0px 5px;
    background-color: #208BF1;
    color: white;
    opacity: 0;
    z-index: 20;
}
.pb-column-control-bar:hover{
    display: block;
    /*background-color: red;*/
    opacity: 1;
    cursor: pointer;
}
.uk-sortable-empty{
    min-height: 0px;
}
.pb-grid.uk-grid-small>div{
}
.pg-hovered{
    border-bottom: 5px solid #208BF1;
}
.pb-editable-content .pb-column-content{
    border: 2px dotted #D5DADF;
}
.pb-element-icon-wrapper{
    min-height: 35px;
}
.pb-element .uk-card {
    background-color: #404349;
    color: #E0E1E3;
}
.pb-element:hover .uk-card{
    background-color: #404349;
    color: white;
}
.pb-element{
    transition: all .1s ease-in-out;
}
.pb-element:hover{
    cursor: pointer;
    /*transform: scale(1.1); !* Equal to scaleX(0.7) scaleY(0.7) *!*/
}
.pb-control-header{
    background-color: #26292C;
}
.pb-control .uk-accordion-title, .pb-control .uk-accordion-title::before, .pb-control .uk-accordion-title:focus, .pb-control .uk-accordion-title:hover {
    color: #E0E1E3;
}
a.uk-marker > svg {
    display:none;
    /*background-image: url(*!set path to your icon here*!);*/

}
/*a.uk-marker{*/
/*}*/
.pin {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 20;

    /*background-image: url(*!set path to your icon here*!);*/
}
.pin::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    height: 30px;
    width: 30px;
    background: #222222;
    border-radius: 50%;
    z-index: 1;
    animation: plus-effect 1s ease-in-out infinite;
}

.uk-dark .pin::after{
    background: #222222;
}
.uk-light .pin::after{
    background: #FFFFFF;
}
.uk-transition-toggle {
    -webkit-tap-highlight-color: transparent;
}
/*copy to frontend*/
.uk-inline-clip.uk-inline-clip-show-overflow{
    overflow: visible;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.pb-column-content{
    min-height: 20px;
}
.pb-settings .pb-dark select, .pb-settings .pb-dark input[type="text"]{
    background-color: #26292C;
    border-color: #26292C;
}
.pb-settings .pb-dark select, .pb-settings .pb-dark option, .pb-settings .pb-dark .uk-form-label{
    color: white !important;
}
input[type="color"], input[type="text"] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    overflow: hidden;
    min-height: 25px;

}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}











@keyframes plus-effect {
    0%{
        transform: scale(0.5);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}