/* Title */

h1 {
    font-size: 2.23125rem !important;
}

h2 {
    font-size: 1.7rem !important;
}

h3 {
    font-size: 1.5rem !important;
}
h4{
    font-size: 1.25rem !important;
}
h5 {
    font-size: 16px !important;
}
h6 {
    font-size: 12px !important;
}