/*@import url("fonts.css");*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');
@import "navbar.css?v=202010061500";
@import "store.css?v=202010061500";
@import "../models/form.css?v=202010061500";
html, body{
    padding: 0px;
    margin: 0px;
    background-color: var(--bg-secondary);
}
body{
    font-family: 'Cairo','Rubik', sans-serif !important;
    margin: auto;
    font-size: 13px;
    background-color: var(--bg-secondary);
    height: 100%;
    position: relative;
    /*color: #a7a7a9;*/
    color: var(--theme-primary-font-color);

}
.hidden-div{
    display: none;
}
*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
    margin-top: 0px;
}
/**
uk card
 */
.uk-card {
    border-radius: 10px;
}
.uk-button, .uk-input, .uk-select{
    border-radius: 5px;
}
.uk-button-gray{
    background-color: var(--bg-secondary);
}
.uk-text-success{
    color: var(--text-success);
}
.uk-button-success{
    background-color: var(--text-success);
    color: white;
}
.btn-delete:hover{
    cursor: pointer;
}
.uk-background-success{
    background-color: var(--text-success);
}
.uk-background-warning{
    background-color: var(--text-warning);
}
.uk-background-danger{
    background-color: var(--text-danger);
}
.uk-accordion-title{
    font-size: 16px;
    font-weight: 700;
}

/**
tab
 */
.uk-tab-label{
    position: unset;
}
.uk-tab-label li{
    background-color: white;
    margin: 0 2px;
    padding: 0px 10px;
    border-radius: 5px 5px 0 0;
}

.uk-tab::before {
     border: none;
}
/** Profile **/
.btn-hover:hover{
    cursor: pointer;
}
.delete-profile-pic{
    position: absolute; margin-right: 4px; margin-top: 3px; background-color: white; border-radius: 3px
}
.uk-image-glow-success{
    border: 5px solid #17E5B4 ;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(23,229,180,0.8);
    -moz-box-shadow: 0px 0px 20px -3px rgba(23,229,180,0.8);
    box-shadow: 0px 0px 20px -3px rgba(23,229,180,0.8);
}
.uk-image-glow-pink{
    border: 5px solid #ff7aff ;
    -webkit-box-shadow: 0px 0px 20px -3px rgba(255,122,255,0.8);
    -moz-box-shadow: 0px 0px 20px -3px rgba(255,122,255,0.8);
    box-shadow: 0px 0px 20px -3px rgba(255,122,255,0.8);
}
.uk-image-glow-success-small{
    border: 3px solid #17E5B4 ;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(23,229,180,0.8);
    -moz-box-shadow: 0px 0px 15px -3px rgba(23,229,180,0.8);
    box-shadow: 0px 0px 15px -3px rgba(23,229,180,0.8);
}
.uk-image-glow-pink-small{
    border: 3px solid #ff7aff ;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(255,122,255,0.8);
    -moz-box-shadow: 0px 0px 15px -3px rgba(255,122,255,0.8);
    box-shadow: 0px 0px 15px -3px rgba(255,122,255,0.8);
}
/**
.
 */
.color-white{
    color: #FFFFFF !important;
}
.site-name{
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
}
nav.nav{
    font-family: 'Cairo','Rubik', sans-serif;
    font-weight: 600;
    background-color: white !important;
    padding-right: 5em;
    padding-left: 5em;
    opacity: 0.9;
    max-height: 75px;
    /*background-color: white;*/
}
nav .navbar-brand{
    text-transform: capitalize;
}
.uk-navbar-nav>li>button, .uk-navbar-nav>li>button:active, .uk-navbar-nav>li>button:focus{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: .875rem;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
[class*=uk-dropdown-bottom]{
    margin-top: 0px;
}
.register-card{
    overflow: hidden;
}
.register-form{
    z-index: 10;
}
.bg-white{
    background-color: white !important;
}
.bg-secondary{
    background-color: var(--bg-secondary);
}
.border-primary{
    border: 1px solid var(--theme-primary-color);
}
.pb-1{
    padding-bottom: 1em !important;
}
/*
Form
 */
.uk-input{
    background-color: white;
}
/* Chrome, Safari, Edge, Opera */
.disable-number-row input::-webkit-outer-spin-button,
.disable-number-row input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.disable-number-row input[type=number] {
    -moz-appearance: textfield !important;
}
/*images*/
.thumbnail {
    position: relative;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

/**
 end
 */


.uk-button-primary{
    background-color: var(--theme-primary-color);
}
.uk-button-primary:hover{
    background-color: #222222;
}
.uk-text-primary{
   color: var(--theme-primary-color) !important;
}

.text-highlighted{
    color: var(--text-highlighted) !important;
}
p, h1, h2, h3, h4, h5{
    font-family: 'Cairo','Rubik', sans-serif !important;
}
p{
    font-size: 14px;
}
.pt-25{
    padding-top: 25px;
}
.page-body{
    margin-top: 5px;
}
.navbar-brand .logo{
    opacity: 0.8;
}

.page-header p{
    padding: 0px;
    margin: 0px;
}
.navbar-logo{
    font-size: 26px;
}
.uk-badge-mini{
    font-size: 10px;
    min-width: 18px;
    height: 18px;
}
.icon-notify-badge{
    position: absolute;
    margin-top: -15px; margin-right: -15px;
}
.uk-badge-success{
    background-color: var(--text-success);
}
.uk-icon-box{
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 5px !important;
    background: var(--bg-secondary);
    color: #666666;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*transition: .1s ease-in-out;*/
    transition-property: color,background-color;
}
/*breadcrumb*/
.breadcrumb {
    list-style: none;
    padding: 0px;
    margin: 0px;
    vertical-align: bottom;
}
.breadcrumb li{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0px;
    text-transform: capitalize;


}
.breadcrumb li a:before{
    content: '/';
    padding:0px 10px;
}
/*Blog*/
.uk-secondary-bg{
    background-color: var(--theme-secondary-bg-color);
    border: none !important;
    box-shadow: none;
}
.uk-secondary-bg-hover:hover{
    background-color: var(--theme-secondary-bg-color);
    border: none !important;
    box-shadow: none;
}
.blog-sidebar .uk-card{
    box-shadow: none;
    /*background-color: #FAFAFF;*/
    border: 1px solid #EEEEEE;
}
.recent-posts.uk-card{
}
.recent-posts.uk-card-default{
    border: none;
}
.recent-posts .uk-card-body{
    padding: 0px 10px;
}
.recent-posts p, .recent-posts a{
    margin: 0px;
    display: block;
}
.bog-categories a{

}

.blog-tags a{
    padding: 2px 10px;
    margin: 4px 2px;
}
a{
    color: black;
    transition: all 0.3s ease;

}
a:hover{
    text-decoration: none;
    color: var(--theme-primary-color);
    transition: all 0.3s ease;
}

.uk-iconnav a{
    color: var(--theme-primary-font-color);
    padding-right: 10px;
    padding-left: 10px;
}
.uk-comment-list ul li,.uk-comment-list li , .uk-comment-list .uk-comment~ul>:nth-child(n+2){
    /*margin: 25px 0 0 0;*/
    margin: 15px 0px !important;
    /*padding: 0px !important;*/
}
.uk-comment-list .uk-comment~ul{
    margin-top: 0px !important;
}
.blog-post-actions a{
    padding: 0px 10px;
}
.comment-actions li{
    display: inline-block;
}
.comment-actions .uk-dropdown{
    padding: 0 20px;
}
.comment-actions li ul li{
    display: block;
}

/*product-card*/
.product-card{
    box-shadow: none;
    border: 1px solid #EEEEEE;
}
.product-card .name{
    font-size: 16px;
    padding-top: 20px;
}
.product-card .product-info{
    padding-top: 10px;
}

.product-card .price{
    font-size: 12px;
}
.product-card .has-discount{
    opacity: 0.6;
    text-decoration: line-through;
}
.category-sidebar .uk-list ul li{
    padding: 10px 0px;
}
.category-sidebar .uk-list ul li{
    padding: 10px 0px;
}

/*ui-kit*/

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked, .uk-radio:active, .uk-radio:focus{
    background-color: var(--theme-primary-color);
}
.uk-modal-title{
    font-size: 20px;
}
/*product*/
.quantity .uk-input{
    border: #F5F5F5;
}
.quantity {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.quantity .quantity-button, .quantity .quantity-button:hover{
    border: #F5F5F5;
}
.quantity .quantity-button, .quantity .quantity-button:hover{
    border: #F5F5F5;
}
.quantity .quantity-button:hover{
    color: var(--theme-primary-color);
}
.quantity .add-to-wish-list{
    padding-left: 15px;
    padding-right: 15px;
}
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.color-option{
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #566573;
    margin-bottom: -5px;
}
.disabled-div{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

/*
Lessons
 */
.product-header-body p, .product-header-body h3,  .product-header-body h4{
    color: white !important;
}
.product-header-body .product-tags a{
    background-color: rgba(255,255,255,0.2);
    color: white;
    border: 1px solid white;
}
.product-header-body .product-tags a:hover{
    background-color: rgba(255,255,255,1);
    color: var(--theme-primary-color);
    border: 1px solid white;
}
.nav-col:hover{
    cursor: pointer;
}

/*
banners
 */
.banner-item p, .banner-item strong{
    padding: 0px;
    margin: 0px;
}
.banner-item a, .banner-item a:hover{
    color: white !important;
}
/**
Form
 */
.input-blank, .input-classic, .input-blank:focus, .input-classic:focus{
    border: none;
    border-bottom: 1px solid #CCCCCC;
    margin: 0 5px;
    outline: none;
    box-shadow: none;
}
.input-blank:focus, .input-classic:focus{
    border-bottom: 1px solid var(--theme-primary-color);
}
.input-blank{
    max-width: 75px;
}
.input-blank:focus, .input-blank:active{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--theme-primary-color);
    max-width: 75px;
}
.form-group .question p{
    display: inline;
}
/**
Loading spinner
 */
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--theme-primary-color);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/**/
@media (min-width: 960px){
    .purchase-modal{
        padding-right: 200px;
        padding-left: 200px;
    }
}
