/node_modules
/public/hot
#/public/storage
#/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
public/uploads/logo/default.png
public/templates/coral-sky/scss/bootstrap.scss
public/templates/coral-sky/css/default-styles.css
public/icons/home.png
public/bootstrap/js/bootstrap.min.js.map
public/bootstrap/js/bootstrap.js.map
public/bootstrap/js/bootstrap.bundle.min.js.map
public/bootstrap/js/bootstrap.bundle.min.js
public/bootstrap/js/bootstrap.bundle.js.map
public/bootstrap/js/bootstrap.bundle.js
app/Widgets/BlogPosts.php
public/templates/coral-sky/css/toggle-switches.css
public/templates/coral-sky/css/fonts.css
public/icons/add_image.png
public/templates/coral-sky/css/cpanel-styles.css
resources/views/widgets/blog_posts.blade.php
