/node_modules
#/storage/*.key
/.idea
/.vagrant
# storage
/storage/app/attachments
/storage/app/public/media
/storage/app/public/chunks
/storage/app/public/attachments
# public
/public/storage/*
/storage/app/public/images
# resources
/lang/ar.json
# root
Homestead.json
Homestead.yaml
npm-debug.log
draft.yaml
.env
.blueprint

